form {
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-image: url("../images/backgrounds/desktop.jpeg");
    background-size: 100%;
    width: 100%;
    min-height: 950px;
}

.login_box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    width: 35%;
    background-color: #efefef;
    border: 1px solid #EDEDED;
    border-radius: 7px;
    padding: 5px;
    opacity: 0.98;
}